
#vegaanB
{
  background-color: rgb(72, 216, 132);
}
#vegiB
{
  background-color: rgb(34, 105, 64);
}
#glutenFree
{
  background-color: rgb(182, 133, 78);
}
#containGluten
{
  background-color: rgb(119, 108, 96);
}

